<br><strong>USER POINTS: <span class="jp" style="display: none"><br>ガ ー ル ズ</span></strong> <%= @points + @post_points %><br>

<br><strong>USER INFO: <span class="jp" style="display: none"><br>ニ ュ ー ス ･ ゴ シ ッ プ </span></strong><br>
Number: <%= @user.id %><br>
Name: <%= @user.name %><br>
About: <%= sanitize simple_format(@user.description), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                    attributes: %w(href) %>

<% if user_signed_in? %>
	<% if @user.private? && current_user.admin? %>
		[PRIVATE] <br>
	<% elsif @user.private? && current_user == @user %>
		This profile is private and cannot be viewed by anyother user.<br>
		Privacy can be toggled in the Edit User screen.<br><br>
	<% end %>
<% end %>

<% if current_user == @user %>
	<%= link_to "edit", edit_user_registration_path %>
<% end %><br>

<% if current_user == @user %>
	<br><strong>POST BOX:</strong>
	<%= render 'posts/post_form' %><br>
<% end %>

<strong>POSTS: <span class="jp" style="display: none"><br>カ テ ゴ リ 一 覧 </span></strong>
<ol reversed>
	<%= render @posts %>
</ol>