<div>
	<strong>USER INFO:</strong><br>
	Number: <%= @user.id %><br>
	Name: <%= @user.name %><br>
	About: <%= @user.description %><br>
	<% if current_user == @user %>
		<%= link_to "edit", edit_user_path(@user) %>
	<% end %>
</div><br>

<% if current_user == @user %>
	<%= render 'posts/post_form' %><br>
<% end %>

<div>
	<strong>POSTS:</strong>
	<ol>
		<%= render @posts %>
	</ol>
</div>