<li>
	<p>
	<%= sanitize simple_format(auto_link(post.content, :link => :urls)), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br), attributes: %w(href) %>                   	
  </p>
  <%= link_to post_path(post), :style => "text-decoration:none; color:black" do %>
    #
  <% end %>
	-------------------------
	<small>

		<%if signed_in? %>         
			<% if current_user.admin? || current_user == post.user %>
					<%= post.created_at.to_date.to_formatted_s(:number) %> \\
					<%= link_to user_path(post.user), :style => "text-decoration:none; color:black" do %>
						<%= post.user_id %>
					<% end %>
		    <%= link_to post, method: :delete, :style => "text-decoration:none; color:black",
		    					 :remote => true do %>
	      | x
		    <% end %>

			<% end %>

		<% else %>
		  <% if post.dated? %>
			  <%= post.created_at.to_date.to_formatted_s(:number) %>
			<% end %>

			<% if post.dated? && post.signed? %>
			  \\ 
			<% end %>
			
			<% if post.signed? %>
				<%= link_to user_path(post.user), :style => "text-decoration:none; color:black" do %>
					<%= post.user_id %>
				<% end %>
		  <% end %>

		<% end %>

	</small>
</li>