<div>
	<%= link_to "agora", agora_path %><br><br>
	<% if user_signed_in? %>
		<% if current_user.admin? %>
			<%= link_to "admin", admin_path %><br>
		<% end %>
		<%= link_to "me", current_user %><br>
		<%= link_to "sign out", destroy_user_session_path, :method => :delete %><br>

	<% else %>
		<%= link_to "sign in", new_user_session_path %><br>
	<% end %>
	
	<%= form_tag users_path, method: :get do %>
		user #<%= text_field_tag :search, params[:search], size: 2 %>
		<%= submit_tag "go", :name => nil %>
	<% end %>

	<small>(if you know the number and the profile isn't private)</small><br>
</div>




