<!DOCTYPE html>
<html>
  <head>
    <title>Captain's Log</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89386654-2', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
      <br><%= strip_tags(notice) %><br>
    <% end %>
    <% if alert %>
      <br><%= strip_tags(alert) %><br>
    <% end %>
    <%= yield %>

<!-- 


                                   ___---___
                             ___---___---___---___
                       ___---___---    *    ---___---___
                 ___---___---    o/ 0_/  @  o ^   ---___---___
           ___---___--- @  i_e J-U /|  -+D O|-| (o) /   ---___---___
     ___---___---    __/|  //\  /|  |\  /\  |\|  |_  __--oj   ---___---___
__---___---_________________________________________________________---___---__
===============================================================================
 ||||                      STEP OUT OF MY SUNLIGHT                        ||||
 |---------------------------------------------------------------------------|
 |___-----___-----___-----___-----___-----___-----___-----___-----___-----___|
 / _ \===/ _ \   / _ \===/ _ \   / _ \===/ _ \   / _ \===/ _ \   / _ \===/ _ \
( (.\ oOo /.) ) ( (.\ oOo /.) ) ( (.\ oOo /.) ) ( (.\ oOo /.) ) ( (.\ oOo /.) )
 \__/=====\__/   \__/=====\__/   \__/=====\__/   \__/=====\__/   \__/=====\__/
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    |||||||         |||||||         |||||||         |||||||         |||||||
    (oOoOo)         (oOoOo)         (oOoOo)         (oOoOo)         (oOoOo)
    J%%%%%L         J%%%%%L         J%%%%%L         J%%%%%L         J%%%%%L
   ZZZZZZZZZ       ZZZZZZZZZ       ZZZZZZZZZ       ZZZZZZZZZ       ZZZZZZZZZ
  ===========================================================================
__|_________________________________________________________________________|__
_|___________________________________________________________________________|_
|_____________________________________________________________________________|
_______________________________________________________________________________
                                                                                                                                                                     
-->
  </body>
</html>
